body{
    background-color: rgba(228, 226, 131, 0.562);
}

.header{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    margin-bottom: 40px;
}

.title {
    font-size: 50px;
    font-family: "Solway", serif;
    color: black;
}

.buttoncontainer{
    width: auto;
    display: flex;
    gap:20px;
    justify-content:center;
    margin-top: 30px;
}

img{
    height:auto;
    width: 300px;
}


.choice{
    font-family: "Solway", serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.img{
    display: flex;
    justify-content: center;
    gap: 40px;
}

button:hover{
    border:5px solid black;
}

#results{
    font-family: "Solway", serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align:center;
}

#score{
    font-family: "Solway", serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align:center;
    gap: 50px;
    margin-top: 80px;
}

#playerscore{
    padding: 10px;
    font-size: 40px;
    background-color: aliceblue;
    border: 5px solid black;
}

#computerscore{
    padding: 10px;
    font-size: 40px;
    background-color: aliceblue;
    border: 5px solid black;
}

